<div *ngIf="!editAdminStatus">
    <div class="admin-img text-center">
        <img style="width: 200px; height: 200px;" class="img-fluid rounded" [src]="url" alt="profile">
    </div>
    <div class="admin-update text-center mt-1">
        <button (click)="editadminbtnclick()" class="text-primary btn btn-link fs-5">Edit Admin Details <i class="fa-solid fa-pen"></i> </button>
    </div>
</div>

<div *ngIf="editAdminStatus" class="text-center">
    <h3>Edit Admin Details</h3>
    <label>
        <input (change)="getFile($event)" type="file" style="display: none;">
        <img style="width: 150px; height: 150px;" class="img-fluid rounded" [src]="url" alt="profile">
    </label>
    <input [(ngModel)]="admin.name" type="text" class="form-control mt-2" placeholder="Admin Name">
    <input [(ngModel)]="admin.password" type="text" class="form-control mt-2" placeholder="Admin password">
    <input (click)="cancel()" type="button" class="btn btn-primary mt-2 me-5" value="Cancel">
    <input (click)="update()" type="button" class="btn btn-success mt-2" value="Update">
</div>